## Reading a data set and displaying its values

In this notebook we will learn how to:

a) read to a Pandas data frame a dataset in a local drive file. The dataset is expressed in comma separated value (csv) format.

b) display the values in the data set

c) plot a chart representing the data set

---

First we need to import the required libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Now to load the data set in the companion **demodataset.csv** file use

In [2]:
df = pd.read_csv("demodataset.csv", header=None) # Do not assume first row as column labels

We can use Python **print()** function to display the data set values

In [3]:
print(type(df))
print(df.shape)
print('m = {0:d}\n'.format(len(df)))
print(df)

<class 'pandas.core.frame.DataFrame'>
(97, 2)
m = 97

          0         1
0    6.1101  17.59200
1    5.5277   9.13020
2    8.5186  13.66200
3    7.0032  11.85400
4    5.8598   6.82330
..      ...       ...
92   5.8707   7.20290
93   5.3054   1.98690
94   8.2934   0.14454
95  13.3940   9.05510
96   5.4369   0.61705

[97 rows x 2 columns]

---
Or we can also let Jupyter format the output. Just specify the variable in the last line of the cell

In [4]:
df

          0         1
0    6.1101  17.59200
1    5.5277   9.13020
2    8.5186  13.66200
3    7.0032  11.85400
4    5.8598   6.82330
..      ...       ...
92   5.8707   7.20290
93   5.3054   1.98690
94   8.2934   0.14454
95  13.3940   9.05510
96   5.4369   0.61705

[97 rows x 2 columns]

---
Extract the first column in the data set to vector **x** and the second column to vector **y**.   
   
   
Plot a figure showing the data set as:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{(x<sup>(i)</sup>,y<sup>(i)</sup>) | i=1,…, m }

In [1]:
x=df.iloc[:,0] # x is the first  column in the data set
y=df.iloc[:,1] # y is the second column in the data set

plt.plot(x, y, "+", color = "blue")
plt.show()

NameError: name 'df' is not defined